<html>
	<head>
		<title>{{ 'titlepage.transapp'|trans({}, 'messages') }}</title>
	</head>
	<body>
		<h1>{{ 'titlepage.transapp'|trans({})|raw }}</h1>
		<p>
			{{ 'bodypage.transapp'|trans({}, 'messages')|raw }}
		</p>
	</body>
</html>
